*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;


}

header {

  /* background-image: url(./images/download.jpg); */
  /* background-repeat: no-repeat; */

}

body {


/*background-image: url(./images/download.jpg);*/

background-image: url(./images/download-1.jpg);
background-size:cover;
background-repeat: no-repeat;
}
h2{
  color: antiquewhite;
}